
body {

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #FFDFD3;

}

.container-mod{

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;

}

.container-mod2{

    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;

}

.container-list {

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.img-brand-top {

    position: relative; /* Declared position allows for location changes */
    top: -2px; /* Moves the image 2px closer to the top of the page */
    max-height: 30px;
    max-width: 50px;
}

.btn-move {

    position: relative; /* Declared position allows for location changes */
    top: 10px; /* Moves the image 2px closer to the top of the page */

}